* {
    margin: 0;
    text-decoration: none;
    font-family: Inter;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

body {

}
header {
    background-color:  #0f8b8d;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 70px 140px;
}
nav img {
    height: 70px;
    width: 320px;
 }
 nav ul {
    display: flex;
    column-gap: 35px;
 }
 nav ul li {
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
 }
 a {
    text-decoration: none;
    color: #DCE1E4;
    font-weight: 300;
 }

.title h1 {
    font-size: 50px;
    font-weight: 700;
    color: #0f8b8d;
    display: flex;
    margin: 0 auto;
    padding: 20px 40px;
}
.title p {
    font-size: 25px;
    padding-bottom: 30px;
    margin: 0 auto;
    padding: 0 40px;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 50px;
}

/* .box .card {
    display: flex;
} */

.address .card {
    width: 474px;
    height: 196px;
    border-radius: 20px;
    border: 1px solid grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    text-align: left;
}

.card h2 {
    display: flex;
    padding: 20px 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 20px;
}
.card p {
    padding: 30px 30px;
    font-weight: 300;
    line-height: 25px;
    color: black;
}

.map img {
    width: 500px;
    height: 500px;
    border-radius: 20%;
}
 footer {
    background-color: #133641;
    display: flex;
    padding: 60px 120px;
    color: antiquewhite;
    column-gap: 250px;
    border-radius: 25px;
 }
 
 footer .footer-logo img{
    height: 70px;
    width: 320px;
 }
 
 .contact {
    display: flex;
    column-gap: 35px;
 }
 .contact img {
    height: 25px;
    float: left;
    filter: invert(100%);
 
 }
 
 .feature {
    display: flex;
    column-gap: 150px;
 }
 
 .feature ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0;
    padding: 0;
 }
 
 .feature ul li {
    list-style: none;
    min-width: 100px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    text-align: left;
 }
 
 ul li.top {
    color: #D18D2C;
 }